@page "/about"

<PageHeaderTitle Title="About"></PageHeaderTitle>

<MudContainer Class="pt-8 pb-8" MaxWidth="MaxWidth.Medium">
    <MudText Typo="Typo.h4" Class="mb-5">What is Soap Capital?</MudText>

    <MudText Class="mb-5">
        We are a crypto trading community. This is our fourth year, after returning from a break. We launched in 2020.
    </MudText>

    <MudText Class="mb-5">
        Our focus is on helping you learn, understand and independently trade the crypto markets using pure price action.
    </MudText>

    <MudText Class="mb-5">
        Our platform has two main parts -
    </MudText>

    <ol class="mb-5">
        <li>Members Dashboard - Which consists of the latest video market reviews, trade journal (EdgeSheet) and all educational material.</li>
        <li>Fight Club Discord Community. This is where you will find all live trades and live streaming sessions.</li>
    </ol>

    <MudText Typo="Typo.h4" Style="text-decoration:underline;" Class="mb-5">FAQs</MudText>

    <MudExpansionPanels Elevation="0" DisableBorders="true">
        <MudExpansionPanel>
            <TitleContent>
                <MudText Typo="Typo.h5">What membership types do you offer?</MudText>
            </TitleContent>
            <ChildContent>
                <MudText>
                    Currently we offer 2 month, and 12 memberships. You can find more info here - <MudLink Href="/choose-membership">Choose Membership</MudLink>.
                </MudText>
            </ChildContent>
        </MudExpansionPanel>
        <MudExpansionPanel Class="mt-5">
            <TitleContent>
                <MudText Typo="Typo.h5">What happens when I join?</MudText>
            </TitleContent>
            <ChildContent>
                <MudText>
                    You will receive instant access to the members dashboard and all the content upon payment confirmation. (CC = instant, BTC = 15-60mins)
                </MudText>
            </ChildContent>
        </MudExpansionPanel>
        <MudExpansionPanel Class="mt-5">
            <TitleContent>
                <MudText Typo="Typo.h5">What payment methods do you accept?</MudText>
            </TitleContent>
            <ChildContent>
                <MudText>
                    We accept all Visa and Mastercard debit and credit cards, powered by <MudLink Href="https://stripe.com/" Target="_blank">Stripe</MudLink>. We also accept Bitcoin, using <MudLink Href="https://www.opennode.com/" Target="_blank">Opennode</MudLink>.
                </MudText>
            </ChildContent>
        </MudExpansionPanel>
        <MudExpansionPanel Class="mt-5">
            <TitleContent>
                <MudText Typo="Typo.h5">Do you accept other crypto for payment?</MudText>
            </TitleContent>
            <ChildContent>
                <MudText>
                    Yes, contact Tyler using the chat bubble (bottom right) for more information.
                </MudText>
            </ChildContent>
        </MudExpansionPanel>
        <MudExpansionPanel Class="mt-5">
            <TitleContent>
                <MudText Typo="Typo.h5">I made payment using Bitcoin but have no access.</MudText>
            </TitleContent>
            <ChildContent>
                <MudText>
                    Bitcoin payments require one confirmation on the blockchain before automatically confirming your membership and giving you access. Normally this takes around 15-60 minutes depending on the blockchain. If you still have no access after 3 hours please contact us using the chat bubble (Bottom right).
                </MudText>
            </ChildContent>
        </MudExpansionPanel>
        <MudExpansionPanel Class="mt-5">
            <TitleContent>
                <MudText Typo="Typo.h5">Will there be live trades posted?</MudText>
            </TitleContent>
            <ChildContent>
                <MudText Class="mb-5">
                    Yes there will be live trades posted, as and when there is opportunity. Tyler posts these inside the Fight Club Discord.
                </MudText>
                <MudText>
                    <span style="font-style: italic">Please note</span> - Only <span style="font-weight: bold;">Space Monkey</span> and <span style="font-weight: bold;">Project Mayhem</span> members can access the Fight Club Discord and subsequently the live trading.
                </MudText>
            </ChildContent>
        </MudExpansionPanel>
        <MudExpansionPanel Class="mt-5">
            <TitleContent>
                <MudText Typo="Typo.h5">I am a beginner, how much support is there for me when learning the lessons?</MudText>
            </TitleContent>
            <ChildContent>
                <MudText Class="mb-5">
                    Tyler is available to help in the Discord server 5-6 days a week in all 3 trading sessions - Asia, London and New York. With that said this isn't a personal mentoring service.
                </MudText>
                <MudText>
                    As a community there are many people within Discord to support your progress and learning curve.
                </MudText>
            </ChildContent>
        </MudExpansionPanel>
        <MudExpansionPanel Class="mt-5">
            <TitleContent>
                <MudText Typo="Typo.h5">Do you offer a free trial?</MudText>
            </TitleContent>
            <ChildContent>
                <MudText>
                    There are no free trials because once given full access - the entire database of content is available, this means it could be downloaded and re-sold elsewhere.
                </MudText>
            </ChildContent>
        </MudExpansionPanel>
        <MudExpansionPanel Class="mt-5">
            <TitleContent>
                <MudText Typo="Typo.h5">I want to join but I am not sure what level I am at as a trader.</MudText>
            </TitleContent>
            <ChildContent>
                <MudText>
                    This trading community caters to every level - beginner, advanced and pro. There is something new to learn for every single trader. We are also constantly refining our edge alongside the market which means static levels of trading ability don't apply here.
                </MudText>
            </ChildContent>
        </MudExpansionPanel>
    </MudExpansionPanels>
</MudContainer>