@page "/account/forgot-password-confirmation"

<PageHeaderTitle Title="Forgot Password Confirmation"/>

<MudContainer MaxWidth="MaxWidth.Small" Class="pt-8">
    <MudPaper Elevation="25" Class="pa-8">
        <div class="fsh-center-text">
            <MudText Typo="Typo.body1" Align="Align.Center">Please check your email to reset your password.</MudText>
        </div>
    </MudPaper>
</MudContainer>