@page "/account/invalid-password-reset"

<PageTitle>Invalid password reset</PageTitle>

<PageHeaderTitle Title="Invalid password reset"/>

<MudContainer MaxWidth="MaxWidth.Small" Class="pt-8">
    <MudPaper Elevation="25" Class="pa-8">
        <div class="fsh-center-text">
            <MudText Typo="Typo.body1" Align="Align.Center">The password reset link is invalid.</MudText>
        </div>
    </MudPaper>
</MudContainer>