@page "/account/reset-password-confirmation"
<PageTitle>Reset password confirmation</PageTitle>

<PageHeaderTitle Title="Reset password confirmation"/>

<MudContainer MaxWidth="MaxWidth.Small" Class="pt-8">
    <MudPaper Elevation="25" Class="pa-8">
        <div class="fsh-center-text">
            <MudText Typo="Typo.body1">Your password has been reset.</MudText>
            <MudLink Href="/login">Click here</MudLink> to Log In.
        </div>
    </MudPaper>
</MudContainer>